In [2]:
pip install pandas

Requirement already satisfied: pandas in c:\users\abeeshek\anaconda3\lib\site-packages (1.3.4)
Requirement already satisfied: pytz>=2017.3 in c:\users\abeeshek\anaconda3\lib\site-packages (from pandas) (2021.3)
Requirement already satisfied: python-dateutil>=2.7.3 in c:\users\abeeshek\anaconda3\lib\site-packages (from pandas) (2.8.2)
Requirement already satisfied: numpy>=1.17.3 in c:\users\abeeshek\anaconda3\lib\site-packages (from pandas) (1.20.3)
Requirement already satisfied: six>=1.5 in c:\users\abeeshek\anaconda3\lib\site-packages (from python-dateutil>=2.7.3->pandas) (1.16.0)
Note: you may need to restart the kernel to use updated packages.

In [4]:
pip install matplotlib

Requirement already satisfied: matplotlib in c:\users\abeeshek\anaconda3\lib\site-packages (3.4.3)
Requirement already satisfied: numpy>=1.16 in c:\users\abeeshek\anaconda3\lib\site-packages (from matplotlib) (1.20.3)
Requirement already satisfied: pillow>=6.2.0 in c:\users\abeeshek\anaconda3\lib\site-packages (from matplotlib) (8.4.0)
Requirement already satisfied: python-dateutil>=2.7 in c:\users\abeeshek\anaconda3\lib\site-packages (from matplotlib) (2.8.2)
Requirement already satisfied: kiwisolver>=1.0.1 in c:\users\abeeshek\anaconda3\lib\site-packages (from matplotlib) (1.3.1)
Requirement already satisfied: cycler>=0.10 in c:\users\abeeshek\anaconda3\lib\site-packages (from matplotlib) (0.10.0)
Requirement already satisfied: pyparsing>=2.2.1 in c:\users\abeeshek\anaconda3\lib\site-packages (from matplotlib) (3.0.4)
Requirement already satisfied: six in c:\users\abeeshek\anaconda3\lib\site-packages (from cycler>=0.10->matplotlib) (1.16.0)
Note: you may need to restart the kernel to use updated packages.

In [6]:
import pandas as pd

In [11]:
df = pd.read_csv('worldometer_data.csv')
df.head()

,Country/Region,Continent,Population,TotalCases,NewCases,TotalDeaths,NewDeaths,TotalRecovered,NewRecovered,ActiveCases,"Serious,Critical",Tot Cases/1M pop,Deaths/1M pop,TotalTests,Tests/1M pop,WHO Region
0,USA,North America,3.311981e+08,5032179,NaN,162804.0,NaN,2576668.0,NaN,2292707.0,18296.0,15194.0,492.0,63139605.0,190640.0,Americas
1,Brazil,South America,2.127107e+08,2917562,NaN,98644.0,NaN,2047660.0,NaN,771258.0,8318.0,13716.0,464.0,13206188.0,62085.0,Americas
2,India,Asia,1.381345e+09,2025409,NaN,41638.0,NaN,1377384.0,NaN,606387.0,8944.0,1466.0,30.0,22149351.0,16035.0,South-EastAsia
3,Russia,Europe,1.459409e+08,871894,NaN,14606.0,NaN,676357.0,NaN,180931.0,2300.0,5974.0,100.0,29716907.0,203623.0,Europe
4,South Africa,Africa,5.938157e+07,538184,NaN,9604.0,NaN,387316.0,NaN,141264.0,539.0,9063.0,162.0,3149807.0,53044.0,Africa

In [15]:
df.count

<bound method DataFrame.count of             Country/Region      Continent    Population  TotalCases  NewCases  \
0                      USA  North America  3.311981e+08     5032179       NaN
1                   Brazil  South America  2.127107e+08     2917562       NaN
2                    India           Asia  1.381345e+09     2025409       NaN
3                   Russia         Europe  1.459409e+08      871894       NaN
4             South Africa         Africa  5.938157e+07      538184       NaN
..                     ...            ...           ...         ...       ...
204             Montserrat  North America  4.992000e+03          13       NaN
205  Caribbean Netherlands  North America  2.624700e+04          13       NaN
206       Falkland Islands  South America  3.489000e+03          13       NaN
207           Vatican City         Europe  8.010000e+02          12       NaN
208         Western Sahara         Africa  5.986820e+05          10       NaN

     TotalDeaths  NewDeaths  TotalRecovered  NewRecovered  ActiveCases  \
0       162804.0        NaN       2576668.0           NaN    2292707.0
1        98644.0        NaN       2047660.0           NaN     771258.0
2        41638.0        NaN       1377384.0           NaN     606387.0
3        14606.0        NaN        676357.0           NaN     180931.0
4         9604.0        NaN        387316.0           NaN     141264.0
..           ...        ...             ...           ...          ...
204          1.0        NaN            10.0           NaN          2.0
205          NaN        NaN             7.0           NaN          6.0
206          NaN        NaN            13.0           NaN          0.0
207          NaN        NaN            12.0           NaN          0.0
208          1.0        NaN             8.0           NaN          1.0

     Serious,Critical  Tot Cases/1M pop  Deaths/1M pop  TotalTests  \
0             18296.0           15194.0          492.0  63139605.0
1              8318.0           13716.0          464.0  13206188.0
2              8944.0            1466.0           30.0  22149351.0
3              2300.0            5974.0          100.0  29716907.0
4               539.0            9063.0          162.0   3149807.0
..                ...               ...            ...         ...
204               NaN            2604.0          200.0        61.0
205               NaN             495.0            NaN       424.0
206               NaN            3726.0            NaN      1816.0
207               NaN           14981.0            NaN         NaN
208               NaN              17.0            2.0         NaN

     Tests/1M pop      WHO Region
0        190640.0        Americas
1         62085.0        Americas
2         16035.0  South-EastAsia
3        203623.0          Europe
4         53044.0          Africa
..            ...             ...
204       12220.0             NaN
205       16154.0             NaN
206      520493.0             NaN
207           NaN          Europe
208           NaN          Africa

[209 rows x 16 columns]>

In [17]:
len(df)

209

In [18]:
df.columns

Index(['Country/Region', 'Continent', 'Population', 'TotalCases', 'NewCases',
       'TotalDeaths', 'NewDeaths', 'TotalRecovered', 'NewRecovered',
       'ActiveCases', 'Serious,Critical', 'Tot Cases/1M pop', 'Deaths/1M pop',
       'TotalTests', 'Tests/1M pop', 'WHO Region'],
      dtype='object')

In [27]:
df.rename(columns={'Country/Region': 'country',
                  'TotalCases':'confirmed',
                   'TotalRecovered':'recovered',
                   'ActiveCases':'active',
                   'TotalDeaths':'deaths'
                  },inplace=True)

In [28]:
df.columns

Index(['confirmed', 'Continent', 'Population', 'confirmed', 'NewCases',
       'deaths', 'NewDeaths', 'recovered', 'NewRecovered', 'active',
       'Serious,Critical', 'Tot Cases/1M pop', 'Deaths/1M pop', 'TotalTests',
       'Tests/1M pop', 'WHO Region'],
      dtype='object')